:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f6f7;
    --text-color: #2c3e50;
    --dark-background: #121212;
    --dark-text: #e0e0e0;
    --dark-card: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

body.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-text);
    --primary-color: #143c57; /* Couleur primaire pour le dark mode */
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.dark-mode .grid-item {
    background-color: var(--dark-card);
    color: var(--dark-text);
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-item-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.grid-item-header i {
    margin-right: 10px;
}

.grid-item-content {
    padding: 15px;
    display: none;
}

.grid-item-content img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

.cta-button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.cta-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
